<!DOCTYPE html>
<html lang="ja">
  <head>
    <% title = "#{current_article.title + ' - ' unless current_article.nil?}#{data.site.title}" %>
    <%# title = "#{list_title + ' - ' unless list_title == ""}#{data.site.title}" %>
    <% description = yield_content(:description) || data.site.description %>
    <% url = "#{data.site.url}#{current_page.url}" %>
    <% image_url = data.site.url + current_page.data.image if current_page.data.image %>

    <link rel="canonical" href="<%= url %>" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <meta name="author" content="<%= data.site.author.name %>">
    <meta name="keywords" content="<%= data.site.keywords %>" />
    <meta name="description" content="<%= description %>" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="<%= url %>" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:site" content="<%= data.site.twitter.account %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <% if image_url %>
    <meta name="twitter:image:src" content="<%=image_url%>" />
    <% end %>

    <meta property="og:title" content="<%=title%>" />
    <meta property="og:type" content="photo:photo" />
    <meta property="og:url" content="<%=url%>" />
    <% if image_url %>
    <meta property="og:image" content="<%=image_url%>" />
    <% end %>

    <meta property="og:site_name" content="<%= data.site.title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:admins" content="815418171836508">
    <meta property="fb:app_id" content="258670484329443">
    <meta property="article:publisher" content="https://www.facebook.com/yamaoka.masaki">

    <meta name="pocket-site-verification" content="6d1e982bc9308213ce9782d70a2e2e" />

    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="<%= data.site.title %>">
    <link rel="author" href="https://plus.google.com/109349508125790933002/posts">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- font-awesome -->
    <%= stylesheet_link_tag 'font-awesome.min' %>
    <!--[if lt IE 9]>
    <%= stylesheet_link_tag 'html5' %>
    <![endif]-->
    <!--[if IE 7]>
    <%= stylesheet_link_tag 'font-awewsome-ie7' %>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS / custom CSS -->
    <%= stylesheet_link_tag 'all' %>
    <!--[if lte IE 8]>
    <%= stylesheet_link_tag 'ie8' %>
    <![endif]-->
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag 'ie7' %>
    <![endif]-->
    <%= stylesheet_link_tag 'highlight_syntax' %>

    <!-- JavaScript -->
    <%= javascript_include_tag "all" %>
    <!--[if lte IE 7]>
    <%= javascript_include_tag "jquery.boxsizing" %>
    <![endif]-->
    <%= javascript_include_tag "banzhow" %>
    <script type="text/javascript">window._pt_lt = new Date().getTime();</script>
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
    <meta name="apple-mobile-web-app-title" content="<%= data.site.title %>">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="application-name" content="<%= data.site.title %>">
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/"><%= data.site.title %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><%= link_to "Home", "/" %></li>
            <%#li><a href="services.html">Services</a></li%>
            <%#li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Portfolio <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="portfolio-1-col.html">1 Column Portfolio</a></li>
                <li><a href="portfolio-2-col.html">2 Column Portfolio</a></li>
                <li><a href="portfolio-3-col.html">3 Column Portfolio</a></li>
                <li><a href="portfolio-item.html">Single Portfolio Item</a></li>
              </ul>
            </li%>
            <%#li class="<%= current_page.data.nav == 'blog-post' ? 'active' : '' % >"><a href="post">Blog</a></li%>
            <%#li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Other Pages <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="full-width.html">Full Width Page</a></li>
                <li><a href="sidebar.html">Sidebar Page</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="404.html">404</a></li>
              </ul>
            </li%>
            <%#li><a href="contact.html">Contact</a></li%>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
