<div class="share">
  <div class="twitter"><a href="http://twitter.com/intent/tweet?url=<%= permalink %>&amp;text=<%= blog_title %>" target="_blank"><i class="fa fa-twitter"></i> tweet</a></div>
  <div class="facebook"><a href="http://www.facebook.com/sharer.php?u=<%= permalink %>&amp;t=<%= blog_title %>" target="_blank"><i class="fa fa-facebook-square"></i> Like</a></div>
  <div class="hatena"><a href="http://b.hatena.ne.jp/add?mode=confirm&amp;url=<%= permalink %>&amp;title=<%= blog_title %>" target="_blank"><i class="fa fa-hatena">B!</i> Bookmark</a></div>
  <div class="gplus"><a href="https://plus.google.com/share?url=<%= permalink %>&amp;title=<%= blog_title %>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><i class="fa fa-google-plus"></i> google+</a></div>
  <div class="pocket"><a href="http://getpocket.com/edit?url=<%= permalink %>&amp;title=<%= blog_title %>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><i class="fa fa-chevron-down"></i> Pocket</a></div>
</div>
