<% content_for :page_class do "article" end %>

<% wrap_layout :layout do %>
  <% article ||= current_article %>
  <div class="post">
    <h1 class="post-title"><%= link_to article.title, article %></h1>
    <%= partial "layouts/post_meta", :locals => { article: article } %>
    <%= partial "layouts/social_button", :locals => { article: article } %>
      <%#
      <div class="img-post">
        <img src="img/post1.png" alt="post 1" class="img-responsive">
      </div>
      %>
    <%= article.body %>
    <%= partial "layouts/social_button", :locals => { article: article } %>

    <div class="well">
      <h3>関連記事</h3>
      <ol class="entries">
        <% similar_articles.first(3).each do |article| %>
          <li><%= link_to article.title, article.url %></li>
        <% end %>
      </ol>
    </div>
  </div><!-- /.post -->

  <%#
  <!-- the comment box -->
  <div class="well">
    <%= partial "layouts/disqus" % >
  </div>

  <hr>
  %>


  <div class="text-center">
    <ul class="pagination">
      <% if article.previous_article %>
        <li><%= link_to "<i class=\"fa fa-angle-double-left\"></i> #{article.previous_article.title}", article.previous_article %></li>
      <% end %>
      <% if article.next_article %>
        <li><%= link_to "#{article.next_article.title} <i class=\"fa fa-angle-double-right\"></i>", article.next_article %></li>
      <% end %>
    </ul>
  </div>

<% end %>
