<% list_title = current_page.data.title %>
<%= partial "layouts/header", :locals => { list_title: list_title } %>

<div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Apps</h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Apps</li>
  </ol>

  <div class="row">

    <div class="col-md-12 col-sm-12">

        <div class="post">
          <h1 class="post-title"><%= link_to list_title, current_page.url %></h1>
          <p>
          </p>

          <%# ↓後でpartialに置き換える %>
          <p class="post-meta">
            <i class="fa fa-calendar-o first"></i>2014-12-10
            <i class="fa fa-tags"></i>
            <span class="tags tags-article-header">
              <a href="javascript:void(0);">ゲーム</a>
              <a href="javascript:void(0);">スマホアプリ</a>
              <a href="javascript:void(0);">Cocos2d-x</a>
            </span>
          </p>

          <div class="share">
            <div class="twitter"><a href="http://twitter.com/intent/tweet?url=http://yuukiar.co/apps/mikumo-burst/&amp;text=タップ連打系バトルゲーム「みくもバースト！」 - yuukiar.co" target="_blank"><i class="fa fa-twitter"></i><span> twitter</span></a></div>
            <div class="facebook"><a href="http://www.facebook.com/sharer.php?u=http://yuukiar.co/apps/mikumo-burst/&amp;t=タップ連打系バトルゲーム「みくもバースト！」 - yuukiar.co" target="_blank"><i class="fa fa-facebook-square"></i><span> facebook</span></a></div>
            <div class="hatena"><a href="http://b.hatena.ne.jp/add?mode=confirm&amp;url=http://yuukiar.co/apps/mikumo-burst/&amp;title=タップ連打系バトルゲーム「みくもバースト！」 - yuukiar.co" target="_blank"><i class="fa fa-hatena">B!</i><span> はてブ</span></a></div>
            <div class="gplus"><a href="https://plus.google.com/share?url=http://yuukiar.co/apps/mikumo-burst/&amp;title=タップ連打系バトルゲーム「みくもバースト！」 - yuukiar.co" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><i class="fa fa-google-plus"></i><span> google+</span></a></div>
            <div class="pocket"><a href="http://getpocket.com/edit?url=http://yuukiar.co/apps/mikumo-burst/&amp;title=タップ連打系バトルゲーム「みくもバースト！」 - yuukiar.co" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><i class="fa fa-chevron-down"></i><span> Pocket</span></a></div>
          </div>
          <%# ↑後でpartialに置き換える %>

          <%#= partial "layouts/post_meta", :locals => { article: article } %>
          <%#= partial "layouts/social_button", :locals => { article: article } %>
          <%#
          <div class="img-post">
            <img src="img/post1.png" alt="post 1" class="img-responsive">
          </div>
          %>

          <% if content_for?(:info) %>
            <div class="section-colored home" style="background-attachment: fixed; background-position: 0% 36px;">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-sm-12" style="color:#ffffff;">
                    <%= yield_content(:info) %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>


          <%= yield %>
          <%#= partial "layouts/social_button", :locals => { article: article } %>

          <%# ↓後でpartialに置き換える %>
          <div class="share">
            <div class="twitter"><a href="http://twitter.com/intent/tweet?url=http://yuukiar.co/apps/mikumo-burst/&amp;text=タップ連打系バトルゲーム「みくもバースト！」 - yuukiar.co" target="_blank"><i class="fa fa-twitter"></i><span> twitter</span></a></div>
            <div class="facebook"><a href="http://www.facebook.com/sharer.php?u=http://yuukiar.co/apps/mikumo-burst/&amp;t=タップ連打系バトルゲーム「みくもバースト！」 - yuukiar.co" target="_blank"><i class="fa fa-facebook-square"></i><span> facebook</span></a></div>
            <div class="hatena"><a href="http://b.hatena.ne.jp/add?mode=confirm&amp;url=http://yuukiar.co/apps/mikumo-burst/&amp;title=タップ連打系バトルゲーム「みくもバースト！」 - yuukiar.co" target="_blank"><i class="fa fa-hatena">B!</i><span> はてブ</span></a></div>
            <div class="gplus"><a href="https://plus.google.com/share?url=http://yuukiar.co/apps/mikumo-burst/&amp;title=タップ連打系バトルゲーム「みくもバースト！」 - yuukiar.co" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><i class="fa fa-google-plus"></i><span> google+</span></a></div>
            <div class="pocket"><a href="http://getpocket.com/edit?url=http://yuukiar.co/apps/mikumo-burst/&amp;title=タップ連打系バトルゲーム「みくもバースト！」 - yuukiar.co" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank"><i class="fa fa-chevron-down"></i><span> Pocket</span></a></div>
          </div>
          <%# ↑後でpartialに置き換える %>

        </div><!-- /.post -->


    </div>

  </div><!-- /.row -->

</div><!-- /.container -->

<%= partial "layouts/footer" %>
